@using PresentationLayer.VMs
@model StudentDetailsVMs

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"> Age:@Model.Age </p>
        <p class="card-text"> Address:@Model.Address </p>
        <a href="index" class="btn btn-primary">Back</a>
    </div>
</div>